body{
  background-color: rgb(31, 31, 31);
  /* background-image: url("./Components/background.jpg"); */
  color: white;
  background-size: 100% ;
}
.defaultCenter{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.imdbFormDiv{
  border-color: #83c9de;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.imdbForm{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.imdbFormInput{
  border-radius: 5px;
  color: white;
  background-color: black;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: .5cm;
  width: 40%;
  padding: 10px;
}
.mainCont{
  justify-content: center;
  display: flex;
  width: 98%;
  height: 98%;
  flex-direction: row;
}
.searchCont{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.searchSubCont{
  width: 85%;
  height: 99%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.nomineeCont{
  justify-content: center;
  padding: 13px;
  width: 15%;
  display: flex;
  flex-direction: column;
  height: 99%;
}
.searchCard{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.nomineeCard{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.dropbtn {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #a1a1a1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #616161;
}