body{
  background-color: rgb(31, 31, 31);
  /* background-image: url("./Components/background.jpg"); */
  color: white;
  background-size: 100% ;
}
.defaultCenter{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.defaultButton{
  height: 80px;
  color: white;
  background-color: black;
}
.imdbFormDiv{
  /* border-color: #83c9de;
  border-style: solid;
  border-width: 1px; */
  width: 100%;
  display: flex;
  flex-direction: row;
}
.imdbForm{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.imdbFormInput{
  border-radius: 5px;
  color: white;
  background-color: black;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: .5cm;
  width: 40%;
  padding: 10px;
}
.mainCont{
  justify-content: center;
  display: flex;
  width: 98%;
  height: 98%;
  flex-direction: row;
}
.searchCont{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.searchSubCont{
  width: 85%;
  height: 99%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.nomineeCont{
  justify-content: center;
  padding: 13px;
  width: 15%;
  display: flex;
  flex-direction: column;
  height: 99%;
}
.searchCard{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.nomineeCard{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.filterDiv{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.filterDropdown {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}