body{
  background-color: rgb(31, 31, 31);
  color: white;
  background-size: 100% ;
}
.defaultCenter{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.mainCont{
  justify-content: center;
  display: flex;
  width: 98%;
  height: 98%;
  flex-direction: row;
}
.searchCont{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.searchSubCont{
  width: 85%;
  height: 99%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.nomineeCont{
  justify-content: center;
  padding: 13px;
  width: 15%;
  display: flex;
  flex-direction: column;
  height: 99%;
}
.searchCard{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.nomineeCard{
  padding: 13px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}